[alias]
  st = status -sb
  co = checkout
  ci = commit
  br = branch
  d = diff
  dc = diff --cached
  ap = add -p
  l=log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lg=log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  pr = pull --rebase
  recover = reset --hard
[user]
  name = Cleydson Júnior
  email = cleydsonjr@gmail.com
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto
[core]
  editor = /usr/bin/vim
